<!DOCTYPE html>
<html lang="en">

<head>
  <title>About Developer</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick.css"/>

<!-- Add your custom CSS styles (optional) -->
<style>
   /* Style for the container that holds the images */
   .image-container {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
   }
   /* Style for each individual image */
   .image-container img {
       width: 100%; /* Adjust this value as needed to control the image size */
       height: 350px;
       margin-bottom: 10px; /* Add some margin between images */
   }
</style>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>About Developer</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/portfolio/img/favicon.png" rel="icon">
  <link href="/static/portfolio/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/portfolio/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/portfolio/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/portfolio/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/portfolio/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/portfolio/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/portfolio/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/portfolio/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/static/portfolio/img/ashish2.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light">Asheesh Shukla</h1>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/asheeshkumarshuklaec1037/School_Management_System" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://www.linkedin.com/in/asheesh-shukla-a5695013a/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Project</span></a></li>
          <li><a href="/" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Go to Project</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1 style="color:yellow;">ASHEESH SHUKLA</h1>
      <p>I'm <span class="typed" data-typed-items="Django Backend Developer, Python Developer, Freelancer" style="color:green;"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Hello there! I'm Asheesh Shukla, a passionate Django Backend Developer with expertise in Python, Django, and Django Rest Framework. I thrive on building robust and efficient web applications that deliver seamless user experiences.

            My journey as a developer began with a strong curiosity for technology, and over the time, I have honed my skills to become a specialist in Django web development. Python, being my language of choice, empowers me to create scalable and maintainable solutions that meet the specific needs of every project.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="static/portfolio/img/ashish2.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Django Backend Developer</h3>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Name:</strong> <span>Asheesh Kumar Shukla</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>8953068937</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Graduation (Btech)</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Pratapgarh, Uttar Pradesh</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>asheeshkumarshuklaec1037@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>College:</strong> <span>UCER, Prayagraj, UP</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>As a Django Backend Developer, I possess a strong understanding of Python, Django and Django Rest Framework. I have basic understanding of SQL, HTML/CSS. My attention to detail and code quality guarantee the stability and performance of the applications I build.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">Python <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Django <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Django Rest Framework <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">SQL <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">HTML/CSS<i class="val">40%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>As a skilled and motivated Django Backend Developer, my career objective is to contribute my expertise and passion for web development to create innovative and high-performing web applications. With a strong foundation in Django and backend technologies, I aim to collaborate with dynamic teams to build robust and scalable solutions that deliver exceptional user experiences.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Asheesh Kumar Shukla</h4>
              <p><em></em></p>
              <ul>
                <li>Raniganj, Pratapgarh, UP (230304)</li>
                <li>8953068937</li>
                <li>asheeshkumarshuklaec1037@gmail.com</li>
                <li>LinkedIn: <a href="https://www.linkedin.com/in/asheesh-shukla-a5695013a/">Click Here</a> </li>
                <li>Hackerrank: <a href="https://www.hackerrank.com/asheeshkumarshu1">Click Here</a> </li>
              </ul>
            </div>
            
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>BTECH (ECE)</h4>
              <h5>2012 - 2016</h5>
              <p><em>United College of Engineering & Research, Prayagraj, UP</em></p>
              <p>Completing my B.Tech from United College of Engineering and Research has been a pivotal milestone in my educational journey. The years spent at this esteemed institution have not only equipped me with a strong academic foundation but have also shaped me into a confident and resourceful individual.</p>
            </div>
            <div class="resume-item">
              <h4>Intermediate</h4>
              <h5>2009 - 2011</h5>
              <p><em>Anant Prasad Singh Intermediate College, Pratapgarh, (UP)</em></p>
              <p>During my time at Anant Prasad Singh Intermediate College, I successfully completed my intermediate education with a strong focus on academic excellence and personal development. </p>
            </div>
            <div class="resume-item">
              <h4>High School</h4>
              <h5>2007 - 2008</h5>
              <p><em>Manish Memorial High School,Raniganj, Pratapgarh, (UP)</em></p>
              <p>During my time at Manish Memorial High School, I successfully completed my high school education with a strong focus on academic excellence and personal development. </p>
            </div>
            <h3 class="resume-title">Achievement</h3>
            <div class="resume-item">
              <h4>GATE scorecard</h4>
              <ul>
                <li><b>Issuing Organization:</b> IIT Roorkee </li>
                <li><b>Marks:</b> 25.71/100</li>
                <li><b>Year:</b> 2017</li>
                  <div class="image-container">
                    <img src="static/portfolio/img/gate.jpg" alt="Image 1">
                  </div>
              </ul>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Project</h3>
            <div class="resume-item pb-0">
              <h4>School Management System</h4>
              <h5>Duration: 1 month</h5>
              <ul>
                <li><b>GitHub Repository Link:</b><a href="https://github.com/asheeshkumarshuklaec1037/School_Management_System"> Click Here</a> </li>
                <li><b>Team size:</b> 2</li>
                <li><b>Technology used:</b> Python and Django</li>
                <li><b>Features:</b> Admin, Student and Teacher login, Student Management, Teacher Management, Attendance Management, Announcement, Publish message and Student List on Homepage, Accept Messages from Public</li>
              </ul>
            </div>

            <h3 class="resume-title">Certifications</h3>
            <div class="resume-item">
              <h4>Programming for Everybody (Getting Started with
                Python)</h4>
              <h5>Duration: 3 months</h5>
              <ul>
                <li><b>Issuing Organization:</b> University of Michigan</li>
                <li><b>Online Plateform:</b> Coursera </li>
                <li><b>Verification link:</b> <a href="https://coursera.org/verify/RKX7XK4YD3XN">Click Here</a></li>
                <li><b>Course content:</b> Variables and Expressions, Conditional Code, Data Structures, Loops and Iteration, Functions, Exception Handling, OOP and File Handling.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Django for Python Developers</h4>
              <h5>Duration: 3 months</h5>
              <ul>
                <li><b>Taught by:</b> Bharath Thippireddy</li>
                <li><b>Online Plateform:</b> Udemy </li>
                <li><b>Verification link:</b> <a href="https://www.udemy.com/certificate/UC-99cc110b-b857-4800-909c-2cd469149e37/">Click Here</a></li>
                <li><b>Course content:</b> Templates, Models, Forms, ModelForms, CRUD using function based and class based views, Session Management, Middleware, Security and ORM Relationships. </li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Django Rest Framework</h4>
              <h5>Duration: 3 months</h5>
              <ul>
                <li><b>Taught by:</b> Bharath Thippireddy</li>
                <li><b>Online Plateform:</b> Udemy </li>
                <li><b>Verification link:</b> <a href="https://www.udemy.com/certificate/UC-b46ce163-fbda-45b7-93fe-e6d573c0c035/">Click Here</a></li>
                <li><b>Course content:</b> Serializers, Nested Serializers, Mixins, Generic Views, ViewSets, Pagination, Filtering, Security, Validations and Token Auth. </li>
              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section><!-- End Resume Section -->


    <!-- ======= Project Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>School Management System Project</h2>
          <p>The School Management System is a web-based application built using Python and Django. 
            It is designed to streamline administrative tasks, facilitate communication between staff, 
            students, and parents, and manage student-related data efficiently.</p>
        </div>

        <!-- Project Features -->
        <h5><b>Duration:</b> 1 month</h5>
        <h5><b>GitHub Repository Link:</b><a href="https://github.com/asheeshkumarshuklaec1037/School_Management_System"> Click Here</a> </h5>
        {% comment %} <h5><b>Project Link:</b><a href="https://www.mmhs.com"> Click Here</a> </h5> {% endcomment %}
        <h5><b>Team size:</b> 2</h5>
        <h5><b>Technologies used:</b> Python and Django</h5>
        <br>
        <h5><b>Key Features:</b></h5>
        <ul>
            <li>Admin, student and teacher login functionality</li>
            <li>Student and teacher management functionality</li>
            <li>Attendance management functionality</li>
            <li>Publishing student list on homepage</li>
            <li>Messaging Functionality</li>
        </ul>

        <!-- Project Image -->
        <br>
        <h2>Project Screenshot:</h2>
          <div class="image-container">
            <p>Homepage: Display message</p>
            <img src="static/portfolio/img/Capture1.JPG" alt="Image 1">
            <p>Homepage: Display topper list</p>
            <img src="static/portfolio/img/Capture2.JPG" alt="Image 2">
            <p>Homepage: Accept message from public</p>
            <img src="static/portfolio/img/Capture3.JPG" alt="Image 3">
            <p>Login page</p>
            <img src="static/portfolio/img/Capture4.JPG" alt="Image 4">
            <p>Admin Panel: Dashboard</p>
            <img src="static/portfolio/img/Capture5.JPG" alt="Image 5">
            <p>Admin Panel: Update admin profile</p>
            <img src="static/portfolio/img/Capture6.JPG" alt="Image 6">
            <p>Admin Panel: Teachers list</p>
            <img src="static/portfolio/img/Capture7.JPG" alt="Image 7">
            <p>Admin Panel: Students list</p>
            <img src="static/portfolio/img/Capture8.JPG" alt="Image 8">
            <p>Admin Panel: Classwise students list</p>
            <img src="static/portfolio/img/Capture9.JPG" alt="Image 9">
            <p>Admin Panel: View attendance</p>
            <img src="static/portfolio/img/Capture10.JPG" alt="Image 10">
            <p>Admin Panel: Announcement (notice) by admin</p>
            <img src="static/portfolio/img/Capture11.JPG" alt="Image 11">
            <p>Admin Panel: Public messages list</p>
            <img src="static/portfolio/img/Capture12.JPG" alt="Image 12">
            <p>Admin Panel: Public message details</p>
            <img src="static/portfolio/img/Capture1.JPG" alt="Image 13">
            <p>Admin Panel: Add topper details to display on homepage</p>
            <img src="static/portfolio/img/Capture14.JPG" alt="Image 14">
            <p>Admin Panel: List of toppers</p>
            <img src="static/portfolio/img/Capture15.JPG" alt="Image 15">
            <p>Teacher: Dashboard</p>
            <img src="static/portfolio/img/Capture16.JPG" alt="Image 16">
            <p>Teacher: Take attendance</p>
            <img src="static/portfolio/img/Capture17.JPG" alt="Image 17">
            <p>Student: Dashboard</p>
            <img src="static/portfolio/img/Capture18.JPG" alt="Image 18">
            <p>Student: View attendance</p>
            <img src="static/portfolio/img/Capture19.JPG" alt="Image 19">
        </div>
        </div>

    </section><!-- End Project Section -->

    

  </main><!-- End #main -->

  
  <!-- Vendor JS Files -->
  <script src="/static/portfolio/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/portfolio/vendor/aos/aos.js"></script>
  <script src="/static/portfolio/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/portfolio/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/portfolio/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/portfolio/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/portfolio/vendor/typed.js/typed.umd.js"></script>
  <script src="/static/portfolio/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/portfolio/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/portfolio/js/main.js"></script>
  
</body>

</html>
